@use 'abstracts/variables' as vars;
@use 'abstracts/mixins' as mixins;

@use 'base/base' as base;

@use 'abstracts/utilities' as utils;

@use 'pages/home' as home;
@use 'pages/project-case-study' as project;

@use 'components/header' as header;
@use 'components/footer' as footer;
@use 'components/skills' as skills;
@use 'components/mouse-scroll' as mouseScroll;







